<div class="container">
    <form name="deleteFile">
        <div class="nav nav-tabs" role="tablist" style="display: block;">
            <h1 class="active" style="text-align: center;"><strong>Quản Lý Thành Viên</strong> </h1>
        </div>

        <div class="container px-0" [formGroup]="createForm" (ngSubmit)="search()">
            <div class="row mt-3">
                <div class="form-group col-md-4">
                    <label class="col-form-label mr-2">ID</label>
                    <input class="form-control" type="text" placeholder="VD: 1" id="id">
                </div>
                <div class="form-group col-md-4">
                    <label class="col-form-label mr-2" >Địa Chỉ</label>
                    <select  class="custom-select" id="address">
                        <option selected disabled value="">Chọn...</option>
                        <option value="volvo" *ngFor="let user of user">{{user.address}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="col-form-label mr-2">Tên Thành Viên</label>
                    <input class="form-control" type="text" placeholder="VD: Tùng" id="fullname">
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="col-form-label mr-2">Email</label>
                    <input class="form-control" type="text" placeholder="VD: bighero6ts@gmail.com" id="email">
                </div>
                <div class="form-group col-md-4">
                    <label class="col-form-label mr-2">Xếp Hạng</label>
                    <select class="custom-select" id="rate">
                        <option selected disabled value="">Chọn...</option>
                        <option value="kim cương">Kim Cương</option>
                        <option value="bạch kim">Bạch Kim</option>
                        <option value="vàng">Vàng</option>
                        <option value="bạc">Bạc</option>
                        <option value="đồng">Đồng</option>
                    </select>
                </div>
                <div class="col-md-4 form-group" style="margin-top: -2px;">
                    <label>&nbsp;</label><br>
                    <button type="submit" class="btn btn-primary mt-2" style="width: 300px"><i
                            class="fas fa-search"></i>
                        Lọc
                        kết quả
                    </button>
                </div>
            </div>
        </div>
        <div class="show">
            <button class="btn btn-success special" style="margin: 0px;" onclick="showAdd()"><i
                    class="fas fa-plus-square"></i></button>
            <table class="table table-striped" style="text-align: center; ">
                <thead style="background-color: #189EFF; color: white;">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">ID</th>
                        <th scope="col">Tên Thành Viên</th>
                        <th scope="col">Địa Chỉ</th>
                        <th scope="col">Xếp Hạng</th>
                        <th scope="col">Email</th>
                        <th scope="col">Số Điện Thoại</th>
                        <th scope="col">Lần Đăng Nhập Cuối</th>
                        <th scope="col">Điểm Cống Hiến</th>
                        <th scope="col">Chọn</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let user of user">
                        <th scope="row">1</th>
                        <td>{{user.id}}</td>
                        <td><a href="">{{user.fullname}}</a> </td>
                        <td>{{user.address}}</td>
                        <td>{{user.rate}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>{{user.lastLogin}}</td>
                        <td>{{user.point}}</td>
                        <td>
                            <input type='checkbox' />
                        </td>
                        <td><button class="btn btn-primary"><i class="fas fa-tools"></i> Sửa</button></td>
                        <td><button class="btn btn-danger"><i class="far fa-trash-alt"></i> Xóa</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button type="button" (click)="open()" class="btn btn-danger special" data-toggle="modal" id="myBtn"
                style="margin-left: 0px;"><i class="far fa-trash-alt"></i> Xóa Nhiều
            </button>
            <button class="btn btn-primary special" data-toggle="modal" onclick="confirm_lock();"><i
                    class="fas fa-lock"></i> Khóa</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary special" data-toggle="modal" onclick="confirm_unlock();"
                id="myBtn"><i class="fa fa-unlock"></i> Mở Khóa
            </button>
            <button class="btn btn-success special" onclick="showAdd()"> Thêm Mới</button>
           
        </div>
        <div class="page">
            <ul class="pagination justify-content-end" style="margin-top: 20px;">
                <li class="page-item"><a class="page-link" (click)="goFirstPage()" >Trang đầu</a></li>
                <li class="page-item"><a class="page-link" (click)="goPreviousPage()">&laquo;</a></li>
                <!-- <li class="page-item"><a class="page-link" id="previousCurrentPage"  (click)="goToPage()">{{previousCurrentPage}}</a></li> -->
                <li class="page-item"><a class="page-link" >{{currentPage}}</a></li>
                <!-- <li class="page-item"><a class="page-link" id="nextCurrentPage" (click)="goToPage()">{{nextCurrentPage}}</a></li> -->
                <li class="page-item"><a class="page-link" (click)="goNextPage()">&raquo;</a></li>
                <li class="page-item"><a class="page-link" (click)="goLastPage()">Trang cuối</a></li>
              </ul>
           
        </div>
    </form>
</div>