<div class="container mt-3 ">

    <div class="row">
        <div class="col">
            <h1>Đấu Giá Của Tôi</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="row">
                <div class="col-md">
                    <label>Tên Sản Phẩm</label>
                    <input type="text" [(ngModel)]="productName" class="form-control" placeholder="Vd : Iphone">
                </div>
                <div class="col-md">
                    <label>Tình Trạng Đấu Giá</label>
                    <select class="custom-select" [(ngModel)]="recordStatusName">
                        <option selected value="">Tất Cả</option>
                        <option value="đang đấu giá">Đang Đấu Giá</option>
                        <option value="đấu giá thành công">Đấu Giá Thành Công</option>
                        <option value="đấu giá thất bại">Đấu Giá Thất Bại</option>
                    </select>
                </div>
                <div class="col-md">
                    <label>&nbsp;</label><br>
                    <button class="btn btn-primary" (click)="search()"><i class="fas fa-search"></i> Lọc</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã Sản Phẩm</th>
                        <th scope="col">Tên Sản Phẩm</th>
                        <th scope="col">Thông Tin Sản Phẩm</th>
                        <th scope="col">Giá Đăng Ký</th>
                        <th scope="col">Ngày Đấu Giá</th>
                        <th scope="col">Tình Trạng Đấu Giá</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let auctionRecord of myAuctionRecordList; index as i">
                        <th>{{stt[i]}}</th>
                        <td>{{auctionRecord.auction.product.id}}</td>
                        <td>{{auctionRecord.auction.product.name}}</td>
                        <td class="pro-info">{{auctionRecord.auction.product.description}}</td>
                        <td>{{auctionRecord.bidPrice | number}}</td>
                        <td>{{auctionRecord.bidTime | date : 'dd-MM-yyyy , HH:mm:ss'}}</td>
                        <td [class]="getColor(auctionRecord.isWinner,auctionRecord.auction.auctionStatus.name)">
                            {{getRecordStatusName(auctionRecord.isWinner,auctionRecord.auction.auctionStatus.name) | titlecase}}
                        </td>                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            <li class="page-item">
                <a class="page-link text-primary" (click)="previous()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link text-primary" >{{page + 1}}</a></li>
            <li class="page-item"><a class="page-link text-primary" >/</a></li>
            <li class="page-item"><a class="page-link text-primary" >{{totalPages}}</a></li>
            <li class="page-item">
                <a class="page-link text-primary" (click)="next()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>
</div>