
<div class="row mx-5 p-0" style="background-color: #c4c4c4; height: 300px; align-items: center;justify-content: center">

</div>

<div class="row mx-5 px-0 mt-2">
  <div class="row mx-0 px-0">
    <form [formGroup]="form">
      <div formArrayName="products" *ngFor="let arr of form.controls.products?.value; let i = index; trackBy:trackByFn">
        <div [formGroupName]="i">
          <div class="row m-0 p-0 d-flex">
            <table aria-describedby="danhsach" class="table" style="margin-bottom: 0px">
              <tbody>
              <tr id="row1" style="height: 20px; margin-bottom: 5px">
                <td >
                  <input style="width: 100px" type="text" placeholder="Tên sản phẩm" formControlName="name" class="form-control">
                </td>
                <td>
                  <input style="width: 100px" placeholder="Giá ban đầu" formControlName="initialPrice" class="form-control">
                </td>
                <td>
                  <input style="width: 100px" placeholder="Bước giá" formControlName="increaseAmount" class="form-control">
                </td>
                <td>
                  <input type="date" placeholder="Ngày đăng" formControlName="registerDate" class="form-control">
                </td>
                <td>
                  <input type="date" placeholder="Thời gian bắt đầu" formControlName="startDate" class="form-control">
                </td>
                <td>
                  <input type="date" placeholder="Thời gian kết thúc" formControlName="endDate" class="form-control">
                </td>
                <td style="height: 37.097px; width: 170px">
                  <textarea style="height: 37.097px" placeholder="Thông tin chi tiết" formControlName="description" class="form-control"></textarea>
                </td>
                <td style="width: 195px">
                  <select formControlName="ownerId" class="form-control">
                    <option selected disabled value="">Chọn Trạng thái duyệt</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </td>
                <td style="width: 165px">
                  <select  formControlName="categoryId" class="form-control">
                    <option selected disabled value="">Chọn chủng loại</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </td>
                <td style="width: 195px">
                  <select formControlName="ownerId" class="form-control">
                    <option selected disabled value="">Chọn ID người đăng</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row m-0 p-0 mt-2">
        <button (click)="addGroup()" class="btn btn-primary mr-1">Thêm mới</button>
        <button type="submit" (click)="createNewProduct()" class="btn btn-primary mr-1">Lưu</button>
        <button (click)="removeGroup(i)" class="btn btn-primary mr-1">Xóa</button>
        <br>
      </div>
    </form>

  </div>
</div>

