<div class="container-fluid px-0">
  <h1 class="mt-2 text-center">Quản lý sản phẩm</h1>

  <!--  search product-->
  <form [formGroup]="formSearchList">
    <div class="container px-0">
      <div class="row mt-3">
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Tên sản phẩm</label>
          <input class="form-control" type="text" placeholder="Vd: Nồi Cơm Điện" formControlName="name">
          <p *ngIf="formSearchList.controls.name.errors?.pattern && formSearchList.controls.name.touched"
             class="text-danger font-weight-bold">
            Trường này không được chứa kí tự đặc biệt !!</p>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Loại sản phẩm</label>
          <select class="custom-select">
            <option selected disabled value="">Chọn...</option>
            <option>Tất cả</option>
            <option>Điện tư</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Người đăng</label>
          <input class="form-control" type="text" placeholder="Vd: Nguyễn Văn A" formControlName="owner">
          <p *ngIf="formSearchList.controls.owner.errors?.pattern && formSearchList.controls.owner.touched"
             class="text-danger font-weight-bold">
            Trường này không được chứa kí tự đặc biệt !!</p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Giá</label>
          <select class="custom-select">
            <option selected disabled value="">Chọn...</option>
            <option>Tất cả</option>
            <option>Từ 0 đến 100.000 VND</option>
            <option>Từ 100.000 đến 500.000 VND</option>
            <option>Từ 500.000 đến 1.000.000 VND</option>
            <option>Từ 1.000.000 đến 5.000.000 VND</option>
            <option>Trên 5.000.000 VND</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Tình trạng</label>
          <select class="custom-select">
            <option selected disabled value="">Chọn...</option>
            <option value="Tất cả">Tất cả</option>
            <option value="Chưa đấu giá">Chưa đấu giá</option>
            <option value="Đang đấu giá">Đang đấu giá</option>
            <option value="Đã đấu giá">Đã đấu giá</option>
          </select>
        </div>
        <div class="col-md-4 form-group" style="margin-top: -2px;">
          <label>&nbsp;</label><br>
          <button type="button" class="btn btn-primary mt-2" style="width: 360px"><i
            class="fas fa-search"></i> Lọc
            kết quả
          </button>
        </div>
      </div>
    </div>

  </form>

<!--  Son modal -->
  <div class="container">
    <div class="row d-flex justify-content-left">
      <button class="btn btn-success "  data-toggle="modal" data-target="#addProduct" (click)="getListCategory()"><i class="fas fa-plus-square"></i> Thêm sản phẩm</button>
    </div>
     <!-- Modal -->
     <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" >

      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-primary" id="exampleModalLabel">Thêm sản phẩm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="container-fluid px-3 m-2">
                  <form [formGroup]="formAddNewProduct">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-3">
                          <label required>Tên sản phẩm <span class="text-danger">*</span> </label>
                        </div>
                        <div class="col-8">
                          <input type="text" class="form-control" formControlName="name" id="tenSP">
                          <p *ngIf="formAddNewProduct.controls.name.errors?.pattern && formAddNewProduct.controls.name.touched" class="text-danger"> Phải viết hoa đầu dòng và không chứa ký tự đặc biệt</p>
                          <p *ngIf="formAddNewProduct.controls.name.errors?.required && formAddNewProduct.controls.name.touched" class="text-danger">Required not null</p>
                        </div>
                        

                        <div  class="col-1" style="float: right;" id="checkten" >
                          <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                          <div class="col-3">
                            <label>ID người đăng<span class="text-danger">*</span></label>
                          </div>

                          <div class="col-8">
                            <div class="row">
                                <div class="col-lg-9 col-md-6 col-sm-6">
                                    <input type="number" class="form-control w-85@" formControlName="owner" id="idNguoiDang">
                                </div>
                                <div class="col-lg-3 col-md-5 col-sm-6">
                                    <button class="btn btn-light" type="button" data-toggle="button" style="width: 100%; display: block; text-align: center;" id="kiemtra" (click)=checkOwner()> Kiểm tra </button>
                                </div>
                               
                            </div>
                            <p *ngIf="formAddNewProduct.controls.owner.errors?.required && formAddNewProduct.controls.owner.touched" class="text-danger">Required not null</p>
                            <!-- <p *ngIf="formAddNewProduct.controls.owner.errors?.validateCode && formAddNewProduct.controls.owner.touched" class="text-danger">Something here</p> -->
                            <p *ngIf="formAddNewProduct.get('owner').hasError('invalidCode') && formAddNewProduct.controls.owner.touched"
                        class="text-danger">Không tìm thấy Id của người đăng</p>
                          </div>
                          <div  class="col-1" style="float: right;" id="checkID">
                            <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i>
                          </div>
                        </div>
                      <!-- </div> -->
                    </div>
                    <div class="form-group" id="infoOwner" hidden>
                      <div class="row">
                        <div class="col-3">
                          <label >Thông tin người đăng</label>
                        </div>
                        <div class="col-8">
                              <textarea class="form-control" rows="3" id="thongTinNguoiDang">
                              </textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-3">
                          <label>Chủng loại <span class="text-danger">*</span> </label>
                        </div>
                        <div class="col-8">
                          <select class="form-control" formControlName="category" id="chungloai" (click)=getCategoryId()>
                            
                            <option value="" disabled selected >Chọn chủng loại </option>
                            <option *ngFor= "let item of categoryList ">{{item.name}}</option>
                          </select>
                        </div>
                        <div  class="col-1" style="float: right;" id="checkChungLoai">
                          <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-3">
                          <label >Giá ban đầu <span class="text-danger">*</span> </label>
                        </div>
                        <div class="col-8">
                          <input type="number" class="form-control" formControlName="initialPrice"  id="giabandau">
                          <p *ngIf="formAddNewProduct.controls.initialPrice.errors?.required && formAddNewProduct.controls.initialPrice.touched" class="text-danger">Required not null</p>
                        </div>
                        
          
                        <div  class="col-1" style="float: right;" id="checkgiabandau">
                          <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-3">
                          <label >Bước giá <span class="text-danger">*</span> </label>
                        </div>
                        <div class="col-8">
                          <input type="number" class="form-control" placeholder="Là giá thấp nhất trong mỗi lần tăng giá" formControlName="increaseAmount" id="buocgia">
                          <p *ngIf="formAddNewProduct.controls.increaseAmount.errors?.required && formAddNewProduct.controls.increaseAmount.touched" class="text-danger">Required not null</p>
                        </div>
                        <div  class="col-1" style="float: right;" id="checkbuocgia">
                          <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-3">
                          <label>Hình ảnh sản phẩm <span class="text-danger">*</span> </label>
                        </div>
                        <!-- <div class="col-8">
                          <input type="file" class="form-control" id="hinhanh" name="productImages">
                        </div> -->

                        <div class="col-8">
                          <input style="width: 200px" type="file"  name="productImages"
                                 (change) = "showPreview($event)" placeholder="Chọn hình ảnh" id="productImages" #fileUpLoad   class="form-control" >
                          <img [src]="imgSrc" height="125" width="125" (click)="fileUpLoad.click()"/>
                          <!--                <input type="file" id="image" (change)="onDrop($event.target.files)" accept=".jpg, .jpeg, .png" multiple>-->
                          <!--                <small class="preview text-danger d-block "></small>-->
                        </div>
                        <div  class="col-1" style="float: right;" id="checkhinhanh">
                          <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-3">
                          <label >Thời gian bắt đầu <span class="text-danger">*</span> </label>
                        </div>
                        <div class="col-8">
                          <!-- <input type="date" class="form-control" placeholder="name@example.com" formControlName="startDate" id="ngaybatdau"> -->
                          <!-- <button mat-button color="primary">Basic</button> -->
                          <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="startDate" style="display: block">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                          <p *ngIf="formAddNewProduct.controls.startDate.errors?.required && formAddNewProduct.controls.startDate.touched" class="text-danger">Required not null</p>
                        </div>
                        <div  class="col-1" style="float: right;" id="checkngaybatdau">
                          <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-3">
                          <label >Thời gian kết thúc <span class="text-danger">*</span> </label>
                        </div>
                        <div class="col-8">
                          <!-- <input type="date" class="form-control" placeholder="name@example.com" formControlName="endDate" id='ngayketthuc'> -->
                          <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="Choose a date" formControlName="endDate" style="display: block">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                          <p *ngIf="formAddNewProduct.controls.endDate.errors?.required && formAddNewProduct.controls.endDate.touched" class="text-danger">Required not null</p>
                        </div>
                        <div  class="col-1" style="float: right;" id="checkngayketthuc">
                          <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" >
                      <div class="row">
                        <div class="col-3">
                          <label >Thông tin chi tiết <span class="text-danger">*</span> </label>
                        </div>
                        <div class="col-8">
                          <textarea class="form-control" rows="3" formControlName="description" id="thongtinchitiet"></textarea >
                          <p *ngIf="formAddNewProduct.controls.description.errors?.required && formAddNewProduct.controls.description.touched" class="text-danger">Required not null</p>
                        </div>
                        <div  class="col-1" style="float: right;" id="checkthongtinchitiet">
                          <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-secondary" id="dismiss" >Nhập lại</button>
            <button type="button" [disabled]="formAddNewProduct.invalid" class="btn btn-primary" (click)=" addNewProduct()" data-dismiss="modal" id="saveProduct">Lưu lại</button>

          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- End modal -->

  <div class="container">
    <div class="row justify-content-center mt-3">
      <form [formGroup]="formArrayEdit">
        <table class="table mt-2 table-striped">
          <thead style="background-color: #189EFF; color: white;">
          <tr>
            <th>STT</th>
            <th>Chọn</th>
            <th>ID sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Chủng loại</th>
            <th>Người đăng</th>
            <th>Giá ban đầu</th>
            <th>Trạng thái duyệt</th>
            <th>Tình trạng</th>
            <th>Chi tiết sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Hành động</th>
          </tr>
          </thead>
          <tbody>


          <tr *ngFor="let product of products | async; index as i">
            <td>{{i+1}}</td>
            <td><input type="checkbox" (click)="insertListUpdateToDb(i)"></td>
            <td>
              <span class="editProduct" (blur)="updateProductField(i, 'id', $event)" contenteditable="true">{{product.id}}</span>
            </td>
            <td>
              <span (blur)="updateProductField(i, 'name', $event)" contenteditable="true">{{product.name}}</span>
            </td>
            <td>
              <span (blur)="updateProductField(i, 'category.name', $event)" contenteditable="true">{{product.category.name}}</span>
            </td>
            <td>
              <span (blur)="updateProductField(i, 'owner.fullName', $event)" contenteditable="true">{{product.owner.fullName}}</span>
            </td>
            <td>
              <span (blur)="updateProductField(i, 'initialPrice', $event)" contenteditable="true">{{product.initialPrice}}</span>
            </td>
            <td>
              <span (blur)="updateProductField(i, 'approvementStatusId', $event)" contenteditable="true">{{product.approvementStatus.name}}</span>
            </td>
            <td>
              <span (blur)="updateProductField(i, 'product', $event)" contenteditable="true">{{product.id}}</span>
            </td>
            <td>
              <span (blur)="updateProductField(i, 'description', $event)" contenteditable="true">{{product.description}}</span>
            </td>
<!--            <td>-->
<!--              <input multiple (blur)="updateProductField(i, 'productImages', $event)" contenteditable="true" src="https://salt.tikicdn.com/cache/280x280/media/catalog/product//e/x/ex200-2.u425.d20170309.t162916.222253.jpg">-->
<!--            </td>-->
            <td>
              <button class="btn btn-primary" (click)="openModalWithComponent(product)" >Sửa</button>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>

    <!--    creator Tu-->
    <!--    direct add new product from list of product-->
    <div class="row justify-content-center mt-1">
      <form [formGroup]="formArray" style="overflow-x: auto">
        <ng-container *ngFor="let form of formArray.controls;let i=index" [formGroup]="form">
          <table aria-describedby="danhsach" class="table" style="margin-bottom: 0px">
            <tbody>
            <tr id="row1" style="height: 20px; margin-bottom: 5px">
              <td>
                <button class="btn btn-primary mr-2 mb-2" (click)="removeRow(formArray.at(i))">Xóa</button>
                <button class="btn btn-warning mr-1" (click)="checkOwnerInfor()">Kiểm tra</button>
              </td>
              <td >
                <input required style="width: 150px" type="text" placeholder="Tên sản phẩm" formControlName="name" class="form-control">
                <i class="alert-danger" role="alert" *ngIf="form.get('name').hasError('required') && form.get('name').touched"> Tên sản phẩm bắt buộc nhập </i>
                <i class="alert-danger" role="alert" *ngIf="form.get('name').hasError('pattern') && form.get('name').touched"> Tên sản phẩm không được chứa ký tự đặc biệt</i>
                <!--                <i class="alert-danger" role="alert" *ngIf="group.get('name').hasError('pattern') && group.get('name').touched"> Tên sản phẩm không được không chứa khoảng trắng</i>-->
              </td>
              <td>
                <ng-container>
                  <select style="width: 180px" formControlName="categoryId" class="form-control">
                    <option selected disabled value="">Chọn chủng loại</option>
                    <option *ngFor="let category of listCategory" [ngValue]="category.id">
                      {{category.name}}
                    </option>
                  </select>
                </ng-container>
                <i class="alert-danger" role="alert" *ngIf="form.get('categoryId').hasError('required') && form.get('categoryId').touched"> Vui chọn chọn chủng loại sản phẩm  </i>
              </td>
              <td>
                <input style="width: 150px" placeholder="ID người đăng" formControlName="ownerId" class="form-control">
                <i class="alert-danger" role="alert" *ngIf="form.get('ownerId').hasError('required') && form.get('ownerId').touched"> Id người đăng bắt buộc nhập </i>
                <i id="checkOwnerId" class="alert-danger">{{thongtin}}</i>
              </td>
              <td>
                <select style="width: 180px" formControlName="approvementStatusId" class="form-control">
                  <option selected disabled value="">Chọn Trạng thái</option>
                  <option *ngFor="let approvementStatus of listApprovementStatuses" [ngValue]="approvementStatus.id">
                    {{approvementStatus.name}}
                  </option>
                </select>
                <i class="alert-danger" role="alert" *ngIf="form.get('approvementStatusId').hasError('required') && form.get('approvementStatusId').touched"> Vui chọn trạng thái duyệt  </i>
              </td>
              <td>
                <input style="width: 150px" placeholder="Giá ban đầu" formControlName="initialPrice" class="form-control">
                <i class="alert-danger" role="alert" *ngIf="form.get('initialPrice').hasError('required') && form.get('initialPrice').touched"> Vui lòng nhập giá ban đầu của sản phẩm  </i>
              </td>
              <td>
                <input style="width: 150px" placeholder="Bước giá" formControlName="increaseAmount" class="form-control">
                <i class="alert-danger" role="alert" *ngIf="form.get('increaseAmount').hasError('required') && form.get('increaseAmount').touched"> Vui lòng nhập giá ban đầu của sản phẩm  </i>
              </td>
              <td  style="height: 37.097px">
                <textarea style="height: 37.097px; width: 200px" placeholder="Thông tin chi tiết" formControlName="description" class="form-control"></textarea>
                <i class="alert-danger" role="alert" *ngIf="form.get('description').hasError('required') && form.get('description').touched"> Vui lòng nhập thông tin sản phẩm  </i>
              </td>
              <td>
                <input style="width: 200px" type="date" placeholder="Ngày đăng" formControlName="registerDate" class="form-control">
                <i class="alert-danger" role="alert" *ngIf="form.get('registerDate').hasError('required') && form.get('registerDate').touched"> Vui lòng nhập thời gian đăng ký  </i>
              </td>
              <td>
                <input style="width: 200px" type="date" placeholder="Thời gian bắt đầu" formControlName="startDate" class="form-control">
                <i class="alert-danger" role="alert" *ngIf="form.get('startDate').hasError('required') && form.get('startDate').touched"> Vui lòng nhập thời gian bắt đầu  </i>
              </td>
              <td>
                <input style="width: 200px" type="date" placeholder="Thời gian kết thúc" formControlName="endDate" class="form-control">
                <i class="alert-danger" role="alert" *ngIf="form.get('endDate').hasError('required') && form.get('endDate').touched"> Vui lòng nhập thời gian kết thúc  </i>
              </td>
              <td>
                <div formControlName="productImage">
                  <input style="width: 200px" type="file"  name="productImages"
                         (change) = "showPreview($event)" placeholder="Chọn hình ảnh" id="productImages" #fileUpLoad   class="form-control" >
                  <img [src]="imgSrc" height="125" width="100" (click)="fileUpLoad.click()"/>
                  <!--                <input type="file" id="image" (change)="onDrop($event.target.files)" accept=".jpg, .jpeg, .png" multiple>-->
                  <!--                <small class="preview text-danger d-block "></small>-->
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </form>
    </div>
    <div class="row d-flex justify-content-between mt-3">
      <div>
        <button class="btn btn-danger mr-3"><i class="far fa-trash-alt"></i> Xóa</button>
        <button class="btn btn-success mr-3" (click)="addRow()"><i class="fas fa-plus-square"></i> Thêm sản phẩm</button>
        <button class="btn btn-primary" (click)="saveAll()"><i class="fas fa-save"></i> Lưu chỉnh sửa</button>
      </div>
      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

</div>
