
.modal-recover {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: none;
  background: rgb(255, 255, 255);
  overflow: unset;
  border-radius: 4px;
  outline: none;
  padding: 0px;
  width: 900px;
  margin: 0px auto;
}
.card-group {
  display: flex;
  width: 100%;
  margin: 60px 0px;
  background: rgb(248, 248, 248);
  border-radius: 6px;
}
img {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  text-size-adjust: 100%;
  box-sizing: border-box;
  max-width: 100%;
  border-style: none;
  margin-top: 70px;
  margin-bottom: 20px;
}
#card1 {
  width: 360px;
  float: left;
  padding: 45px 30px;
  background: rgb(255, 255, 255);
  border-radius: 6px 0px 0px 6px;
  overflow: hidden;
}
#card2 {
  width: calc(100% - 390px);
  float: left;
  min-height: 600px;
  margin: 15px;
  background: rgb(255, 255, 255);
  border-radius: 0px 6px 6px 0px;
}

.form-control {
  font-size: 16px;
}
.form-control:focus {
  border-color: #5cb85c;
}
.form-control, .btn {
  border-radius: .25rem;
  outline: none !important;
}

.social-btn .btn {
  /*color: #fff;*/
  margin: 10px 0;
  font-size: 15px;
  border-radius: .25rem;
  text-indent: 10px;
  font-weight: normal;
  border: none;
  text-align: center;
}
.or-seperator {
  margin: 50px 0 15px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator2 {
  margin: 1px 0 15px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator b {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
}
.modal-dialog {
  max-width: 1000px;
  margin: 1.75rem auto;
}
