<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-recover">
      <div class="modal-content">

        <div class="card-group" style="margin: 0">

          <div class="card" id="card1">
            <div class="card-body">
              <h5 class="card-title">Quên Mật Khẩu</h5>
              <p class="card-text">
                Vui lòng cung cấp email đăng nhập hoặc sử dụng câu hỏi bảo mật để lấy lại mật khẩu.
              </p>
            </div>
            <img class="card-img-top"
              src="https://previews.123rf.com/images/vectoroksana/vectoroksana1910/vectoroksana191041163/132880756-white-line-shopping-building-or-market-store-icon-isolated-on-white-background-shop-construction-blu.jpg"
              alt="">
          </div>
          <div class="card" id="card2">

            <div class="card-body">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true"> Email</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Câu Hỏi Bảo
                    Mật </a>
                </li>
                <button style="padding-left: 122px;" type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </ul>

              <div class="or-seperator2"></div>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <form [hidden]="formEmailStatus" class="form-group" (ngSubmit)="sendMailRecover()"
                    [formGroup]="recoverMailForm">
                    <p class="description"> Vui lòng cung cấp email đăng nhập để lấy lại mật khẩu</p>
                    <div class="form-group">
                      <input formControlName="email" type="email" id="inputEmail" class="form-control"
                        placeholder="Nhập Email" required="required">
                      <small
                        *ngIf="recoverMailForm.controls.email.errors?.required && recoverMailForm.controls.email.touched"
                        class="text-danger">Vui Lòng Nhập Email</small>
                      <small
                        *ngIf="recoverMailForm.controls.email.errors?.pattern && recoverMailForm.controls.email.touched"
                        class="text-danger">Email có định dạng abc@cdf.com</small>
                    </div>
                    <div class="text-center social-btn">
                      <button [disabled]="recoverMailForm.invalid" class="btn btn-primary btn-lg btn-block">Gửi <span
                          [hidden]="loadingStatus" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span></button>
                    </div>
                  </form>

                  <form [hidden]="formCodeStatus" class="form-group" (ngSubmit)="sendCodeRecover()"
                    [formGroup]="recoverCodeForm">
                    <p class="description"> Vui lòng nhập mã được gửi về email để lấy lại mật khẩu, mã xác nhận gồm 6 kí
                      tự !</p>
                    <div class="form-group">
                      <input formControlName="code" type="text" class="form-control" placeholder="Nhập mã gửi về email"
                        id="inputCode" required="required">
                      <small
                        *ngIf="recoverCodeForm.controls.code.errors?.required && recoverCodeForm.controls.code.touched"
                        class="text-danger">Mã xác nhận không được để trống !</small>
                      <small
                        *ngIf="recoverCodeForm.controls.code.errors?.pattern && recoverCodeForm.controls.code.touched"
                        class="text-danger">Mã xác nhận có 6 kí tự !</small>
                    </div>
                    <div class="text-center social-btn">
                      <button [disabled]="recoverCodeForm.invalid" class="btn btn-primary btn-lg btn-block">Gửi <span
                          [hidden]="loadingStatus" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span></button>
                    </div>

                  </form>
                  <div *ngIf="messageFormEmail" [className]="classNameFormEmail" role="alert">
                    <p>{{messageFormEmail}}</p>
                  </div>
                  <div class="or-seperator"><b>or</b></div>
                  <div class="text-center social-btn">
                    <div class="text-center social-btn">
                      <a href="#" class="btn btn-warning btn-lg btn-block">Đăng Nhập</a>
                    </div>
                    <a href="#" class="btn btn-primary btn-lg btn-block"><i class="fab fa-facebook"></i> Sign in with
                      <b>Facebook</b></a>
                    <a href="#" class="btn btn-info btn-lg btn-block"><i class="fab fa-twitter"></i>
                      Sign in with <b>Twitter</b></a>
                    <a href="#" class="btn btn-danger btn-lg btn-block"><i class="fab fa-google"></i>
                      Sign in with <b>Google</b></a>
                  </div>

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <p class="description"> Vui lòng nhập thông tin cá nhân và câu hỏi bảo mật để lấy lại mật
                    khẩu.</p>
                  <form method="post" class="" (ngSubmit)="sendInfoRecover()" [formGroup]="recoverInfoForm">
                    <div class="form-group">
                      <label for="inputEmail2">Email</label>
                      <input formControlName="email" type="email" class="form-control" placeholder="Nhập Email"
                        id="inputEmail2" required="required">
                      <small
                        *ngIf="recoverInfoForm.controls.email.errors?.required && recoverInfoForm.controls.email.touched"
                        class="text-danger">Vui lòng nhập email</small>
                      <small
                        *ngIf="recoverInfoForm.controls.email.errors?.pattern && recoverInfoForm.controls.email.touched"
                        class="text-danger">Email không đúng định dạng </small>
                    </div>
                    <div class="form-group">
                      <label for="inputPhoneNumber2">Số Điện Thoại</label>
                      <input formControlName="phoneNumber" type="text" class="form-control"
                        placeholder="Nhập Số Điện Thoại" id="inputPhoneNumber2" required="required">
                      <small
                        *ngIf="recoverInfoForm.controls.phoneNumber.errors?.required && recoverInfoForm.controls.phoneNumber.touched"
                        class="text-danger">Vui lòng nhập số điện thoại</small>
                      <small
                        *ngIf="recoverInfoForm.controls.phoneNumber.errors?.pattern && recoverInfoForm.controls.phoneNumber.touched"
                        class="text-danger">Số điện thoại không tồn tại</small>
                    </div>
                    <div class="form-group">
                      <label for="inputQa2"> Câu Hỏi Bảo Mật</label>
                      <select formControlName="question" id="inputQa2" class="form-control">
                        <option [value]="" [disabled]="true" [selected]="true">Chọn Câu Hỏi bảo Mật</option>
                        <option [value]="'tpbsr'">Thành phố bạn sinh ra ?</option>
                        <option [value]="'cvytcb'">Con vật yêu thích của bạn ?</option>
                        <option [value]="'tcmb'">Tên cha mẹ bạn ?</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="inputAn2"> Câu Trả Lời</label>
                      <input formControlName="answer" type="text" class="form-control" placeholder=" Nhập Câu Trả Lời"
                        id="inputAn2" required="required">
                      <small
                        *ngIf="recoverInfoForm.controls.answer.errors?.required && recoverInfoForm.controls.answer.touched"
                        class="text-danger">Vui lòng nhập câu trả lời</small>
                    </div>
                    <div *ngIf="messageFormInfo" [className]="classNameFormInfo" role="alert">
                      <p>{{messageFormInfo}}</p>
                    </div>
                    <div class="text-center social-btn">
                      <button [disabled]="recoverInfoForm.invalid" class="btn btn-primary btn-lg btn-block">Gửi <span
                          [hidden]="loadingStatus" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
