<div class="container">
  <div class="alert alert-info my-3" role="alert">
    Không có sản phẩm nào trong danh sách yêu thích.
  </div>
  <div class="row mx-0 my-2">
    <div class="col-3">
      <div class="d-flex justify-content-end">
        <button type="button" class="close" data-toggle="modal" data-target="#deleteCartItemModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <img class="w-100 mb-3"
           src="https://salt.tikicdn.com/cache/280x280/ts/product/bd/3c/96/30aab084ed83d5c4791f23b294d0ce5f.jpg">
      <p class="truncate mb-0 px-3">Xiaomi Mi Band 4</p>
      <p class="font-weight-bold mb-0 px-3">650.000 ₫</p>
    </div>
  </div>
</div>
