<div class="container mt-3">
    <div class="row">
      <div class="col">
          <h1>Quản Lý Giao Dịch</h1>
      </div>
  </div>

  <div class="row mt-3">
    <div class="col">
        <form class="form" [formGroup]="createForm" (ngSubmit)="searchDeals()">
            <div class="row">
                <div class="col-md">
                    <label for="nameSeller">Người đăng</label>
                    <input formControlName="nameSeller" type="text" class="form-control" id="nameSeller" placeholder="Vd: Anna">
                    <div *ngIf="createForm.get('nameSeller').invalid && createForm.get('nameSeller').touched">
                      <div *ngIf="createForm.get('nameSeller').hasError('pattern')">
                        <p class="text-danger">Vui lòng nhập tên phải là các chữ cái</p>
                      </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="nameBuyer">Người mua</label>
                    <input formControlName="nameBuyer" type="text" class="form-control" id="nameBuyer" placeholder="Vd: Anna">
                    <div *ngIf="createForm.get('nameBuyer').invalid && createForm.get('nameBuyer').touched">
                      <div *ngIf="createForm.get('nameBuyer').hasError('pattern')">
                        <p class="text-danger">Vui lòng nhập tên phải là các chữ cái</p>
                      </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="nameProduct">Tên sản phẩm</label>
                    <input formControlName="nameProduct" type="text" class="form-control" id="nameProduct" placeholder="Vd: Tivi">
                    <div *ngIf="createForm.get('nameProduct').invalid && createForm.get('nameProduct').touched">
                      <div *ngIf="createForm.get('nameProduct').hasError('pattern')">
                        <p class="text-danger">Vui lòng nhập tên phải là các chữ cái</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md">
                    <label for="totalPayment">Thành tiền</label>
                    <input formControlName="totalPayment" type="text" class="form-control" id="totalPayment" placeholder="Kết quả lớn hơn hoặc bằng giá trị nhập vào">
                    <div *ngIf="createForm.get('totalPayment').invalid && createForm.get('totalPayment').touched">
                      <div *ngIf="createForm.get('totalPayment').hasError('min')">
                        <p class="text-danger">Vui lòng nhập số nguyên dương lớn hơn 0</p>
                      </div>
                      <div *ngIf="createForm.get('totalPayment').hasError('pattern')">
                        <p class="text-danger">Vui lòng nhập số nguyên dương</p>
                      </div>
                    </div>
                </div>
                <div class="col-md">
                    <label for="tinhTrang">Tình trạng</label>
                    <select formControlName="statusOfDeal" class="custom-select" id="tinhTrang">
                        <option selected disabled value="">Chọn...</option>
                        <option value="Thành công">Thành công</option>
                        <option value="Thất bại">Thất bại</option>
                        <option value="Đang chờ thanh toán">Đang chờ thanh toán</option>
                    </select>
                </div>
                <div class="col-md">
                    <label>&nbsp;</label><br>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#needToChooseToSearch"><i class="fas fa-search" ></i> Lọc</button>
                </div>
            </div>
        </form>
        <br>
    </div>
  </div>
  <h6 class="text-success"><b><i>{{searchMessage}}</i></b></h6>
      <div class="row" >
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="mytable" class="table table-border table-striped">
              <thead class="bg-primary">
                <th><input type="checkbox" id="checkall" /></th>
                <th style="width:10%">Mã giao dịch</th>
                <th style="width:10%">Thời gian đấu giá thành công</th>
                <th style="width:12%">Người đăng</th>
                <th style="width:12%">Người mua</th>
                <th style="width:20%">Tên sản phẩm</th>
                <th style="width:2%">Số lượng</th>
                <th style="width:10%">Thành tiền</th>
                <th style="width:10%">Phí dịch vụ</th>
                <th style="width:20%">Tình trạng giao dịch</th>

              </thead>
              <tbody>
                <tr *ngFor="let deal of dealList">
                  <td><input type="checkbox" class="checkthis" value={{deal.id}}/></td>
                  <td>{{deal.id}}</td>
                  <td>{{deal.winBiddingTime | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                  <td>{{deal.nameSeller | titlecase}}</td>
                  <td>{{deal.nameBuyer | titlecase}}</td>
                  <td>{{deal.nameProduct}}</td>
                  <td>{{deal.amount}}</td>
                  <td>{{deal.totalPayment | currency:'VND'}}</td>
                  <td>{{deal.serviceFee | currency:'VND'}}</td>
                  <td [class]="setcolorFieldStatusOfDeal(deal.statusOfDeal)">{{deal.statusOfDeal}}</td>
                </tr>

              </tbody>
            </table>

            <div class="clearfix"></div>
            <div id="delete-btn-pagination" *ngIf="dealList != null">
              <div class="one">
                <div id="delete-btn" data-placement="top" data-toggle="tooltip">
                  <button (click)="checkCheckBoxes()" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete" ><i class="far fa-trash-alt"></i> Xóa</button>
                </div>
              </div>

              <nav class="two">
                <ul class="pagination justify-content-end">
                  <li class="page-item"><a class="page-link" (click)="goFirstPage()" >Trang đầu</a></li>
                  <li class="page-item"><a class="page-link" (click)="goPreviousPage()">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" >{{currentPage}}</a></li>
                  <li class="page-item"><a class="page-link" (click)="goNextPage()">&raquo;</a></li>
                  <li class="page-item"><a class="page-link" (click)="goLastPage()">Trang cuối</a></li>
                </ul>
              </nav>
            </div>
          </div> <!-- table-responsive -->
        </div> <!--col-->
      </div> <!--row -->
</div> <!-- container -->

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Xóa giao dịch</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          <div *ngIf="arrayIdToDelete.length != 0 ; else elseBlock">
            <div>
              <i class="fas fa-exclamation-triangle"></i>  Bạn chắc chắn muốn xóa giao dịch này?<br><br>
              <ul *ngFor="let id of arrayIdToDelete">
                <li>Mã giao dịch: {{id}}</li>
              </ul>
            </div>
          </div>
          <ng-template #elseBlock>
              <i class="fas fa-exclamation-triangle"></i>  Vui lòng chọn giao dịch để thực hiện xóa<br><br>
          </ng-template>
        </div>
      </div> <!--modal-body-->
      <div class="modal-footer ">
        <div *ngIf="arrayIdToDelete.length != 0">
          <button (click)="deleteDeals()" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-check-circle"></i> Xóa</button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Không</button>
        </div>
      </div>
    </div>
      <!-- /.modal-content -->
  </div>
        <!-- /.modal-dialog -->
</div>
