<!-- <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  > -->
  <!-- <div class="modal-dialog modal-dialog-scrollable modal-lg"> -->
    <div class="modal-header">
      <h5 class="modal-title text-primary" id="exampleModalLabel">Cập nhật sản phẩm</h5>
     
      <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <div class="modal-body">


          <div class="container-fluid">


              <div class="container-fluid px-3 m-2">
                <form [formGroup]="formEditProduct">
                 
                  <div class="form-group">
                    <div class="row">
                      <div class="col-3">
                        <label required>Tên sản phẩm <span class="text-danger">*</span> </label>
                      </div>
                      <div class="col-8">
                        <input type="text" class="form-control" formControlName="name" id="tenSP">
                        <p *ngIf="formEditProduct.controls.name.errors?.required && formEditProduct.controls.name.touched" class="text-danger">Required not null</p>
                        <p *ngIf="formEditProduct.controls.name.errors?.pattern && formEditProduct.controls.name.touched" class="text-danger"> Phải viết hoa đầu dòng và không chứa ký tự đặc biệt</p>
                      </div>
                      

                      <div  class="col-1" style="float: right;" id="checkten" >
                        <!-- <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i> -->
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                        <div class="col-3">
                          <label>ID người đăng<span class="text-danger">*</span></label>
                        </div>

                        <div class="col-8">
                          <div class="row">
                              <div class="col-lg-9 col-md-6 col-sm-6">
                                  <input type="number" class="form-control w-85@" formControlName="owner" id="idNguoiDang" disabled>
                              </div>
                              <div class="col-lg-3 col-md-5 col-sm-6">
                                  <button class="btn btn-light" type="button" data-toggle="button" style="width: 100%; display: block; text-align: center;" id="kiemtra" (click)=checkOwner()> Kiểm tra </button>
                              </div>
                             
                          </div>
                          <p *ngIf="formEditProduct.controls.owner.errors?.required && formEditProduct.controls.owner.touched" class="text-danger">Required not null</p>
                          <!-- <p *ngIf="formEditProduct.controls.owner.errors?.validateCode && formEditProduct.controls.owner.touched" class="text-danger">Something here</p> -->
                          <p *ngIf="formEditProduct.get('owner').hasError('invalidCode') && formEditProduct.controls.owner.touched"
                      class="text-danger">Không tìm thấy Id của người đăng</p>
                        </div>
                        <div  class="col-1" style="float: right;" id="checkID">
                          <!-- <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i> -->
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                  <div class="form-group" id="infoOwner" hidden>
                    <div class="row">
                      <div class="col-3">
                        <label >Thông tin người đăng</label>
                      </div>
                      <div class="col-8">
                            <textarea class="form-control" rows="3" id="thongTinNguoiDang"  >[innerHTML]="thongtin"
                            </textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-3">
                        <label>Chủng loại <span class="text-danger">*</span> </label>
                      </div>
                      <div class="col-8">
                        <select [compareWith]="compareByID" class="form-control" formControlName="category" id="chungloai" (click)=getCategoryId()>
                          
                          <option value="" disabled selected >Chọn chủng loại </option>
                          <option *ngFor= "let item of categoryList " [ngValue]="item">{{item.name}}</option>
                        </select>
                      </div>
                      <div  class="col-1" style="float: right;" id="checkChungLoai">
                        <!-- <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i> -->
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-3">
                        <label >Giá ban đầu <span class="text-danger">*</span> </label>
                      </div>
                      <div class="col-8">
                        <input type="number" class="form-control" formControlName="initialPrice"  id="giabandau">
                        <p *ngIf="formEditProduct.controls.initialPrice.errors?.required && formEditProduct.controls.initialPrice.touched" class="text-danger">Required not null</p>
                      </div>
                      
        
                      <div  class="col-1" style="float: right;" id="checkgiabandau">
                        <!-- <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i> -->
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-3">
                        <label >Bước giá <span class="text-danger">*</span> </label>
                      </div>
                      <div class="col-8">
                        <input type="number" class="form-control" placeholder="Là giá thấp nhất trong mỗi lần tăng giá" formControlName="increaseAmount" id="buocgia">
                        <p *ngIf="formEditProduct.controls.increaseAmount.errors?.required && formEditProduct.controls.increaseAmount.touched" class="text-danger">Required not null</p>
                      </div>
                      <div  class="col-1" style="float: right;" id="checkbuocgia">
                        <!-- <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i> -->
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-3">
                        <label>Hình ảnh sản phẩm <span class="text-danger">*</span> </label>
                      </div>
                      <div class="col-8">
                        <input type="file" class="form-control" id="hinhanh">
                      </div>
                      <div  class="col-1" style="float: right;" id="checkhinhanh">
                        <!-- <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i> -->
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-3">
                        <label >Thời gian bắt đầu <span class="text-danger">*</span> </label>
                      </div>
                      <div class="col-8">
                        <!-- <input type="date" class="form-control" placeholder="name@example.com" formControlName="startDate" id="ngaybatdau"> -->
                        <!-- <button mat-button color="primary">Basic</button> -->
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="startDate" style="display: block">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <p *ngIf="formEditProduct.controls.startDate.errors?.required && formEditProduct.controls.startDate.touched" class="text-danger">Required not null</p>
                      </div>
                      <div  class="col-1" style="float: right;" id="checkngaybatdau">
                        <!-- <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i> -->
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-3">
                        <label >Thời gian kết thúc <span class="text-danger">*</span> </label>
                      </div>
                      <div class="col-8">
                        <!-- <input type="date" class="form-control" placeholder="name@example.com" formControlName="endDate" id='ngayketthuc'> -->
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker1" placeholder="Choose a date" formControlName="endDate" style="display: block">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <p *ngIf="formEditProduct.controls.endDate.errors?.required && formEditProduct.controls.endDate.touched" class="text-danger">Required not null</p>
                      </div>
                      <div  class="col-1" style="float: right;" id="checkngayketthuc">
                        <!-- <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i> -->
                      </div>
                    </div>
                  </div>
                  <div class="form-group" >
                    <div class="row">
                      <div class="col-3">
                        <label >Thông tin chi tiết <span class="text-danger">*</span> </label>
                      </div>
                      <div class="col-8">
                        <textarea class="form-control" rows="3" formControlName="description" id="thongtinchitiet"></textarea >
                        <p *ngIf="formEditProduct.controls.description.errors?.required && formEditProduct.controls.description.touched" class="text-danger">Required not null</p>
                      </div>
                      <div  class="col-1" style="float: right;" id="checkthongtinchitiet">
                        <!-- <i class="fas fa-check" style="color:rgba(0, 68, 255, 0.753)"></i> -->
                      </div>
                    </div>
                  </div>
                </form>
              </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="bsModalRef.hide()">Đóng</button>
          <button type="button" class="btn btn-secondary" id="dismiss" >Nhập lại</button>
          <button type="button" [disabled]="formEditProduct.invalid" class="btn btn-primary" (click)=" triggerEvent()" (click)="bsModalRef.hide()" id="saveProduct">Lưu lại</button>
        </div>
      </div>
  <!-- </div> -->
<!-- </div> -->


<!-- End modal -->
