<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-5 bg-primary">

    <!-- Footer Links -->
    <div class="container-fluid text-center bg-primary text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Hệ thống đấu giá sản phẩm</h5>
          <p>Đến với website này bạn sẽ được trải nghiệm hệ thống đấu giá sản phẩm uy tín và chất lượng hàng đầu tại Việt Nam.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Hỗ trợ khách hàng</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Các câu hỏi thường gặp</a>
            </li>
            <li>
              <a href="#!">Gửi yêu cầu hỗ trợ</a>
            </li>
            <li>
              <a href="#!">Hướng dẫn đặt hàng</a>
            </li>
            <li>
              <a href="#!">Phương thức vận chuyển</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Về chúng tôi</h5>
  
          <ul class="list-unstyled">
            <li>
                <a type="button" class="btn-floating btn-fb">
                    <i class="fab fa-facebook-f"></i>
                  </a><span>  Facebook</span>
            </li>
            <li>
                <a type="button" class="btn-floating btn-tw">
                    <i class="fab fa-twitter"></i>
                  </a><span> Twitter</span>
            </li>
            <li>
                <a type="button" class="btn-floating btn-gplus">
                    <i class="fab fa-google-plus-g"></i>
                  </a><span> Google +</span>
            </li>
            <li>
                <a type="button" class="btn-floating btn-dribbble">
                    <i class="fab fa-dribbble"></i>
                  </a><span> Dribbble</span>
            </li>
          </ul>

  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3c">© 2020 Copyright:
      <span> C0320G1</span>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->