<div id="modal-content-wrapper" class="d-fex justify-content-center">
  <header id="modal-header">
    <h1 id="modal-title">Xác nhận gởi mail</h1>
  </header>
  <section id="modal-body">
    <p>Đã thêm khuyến mãi <span class="text-primary font-weight-bold">{{name}}</span> ? <br class="mt-1">
    </p>
    Có gởi mail thông báo khuyến mãi này với {{amount}} khách hàng không ?
  </section>
  <footer id="modal-footer" style="float: right;margin-top: 30px">
    <button mat-raised-button class="btn btn-danger mr-3" id="modal-action-button" (click)="submitSendMail()">Gởi
    </button>
    <button mat-raised-button class="btn btn-warning mr-3" id="modal-cancel-button" mat-dialog-close>Không</button>
  </footer>
</div>
