<div>
  <h1 class="row mt-2 text-center">Quản lý sản phẩm</h1>
  <form [formGroup]="formSearchList">
    <div class="container px-0">
      <div class="row mt-3">
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Tên sản phẩm</label>
          <input id="productName" class="form-control" type="text" placeholder="Vd: Nồi Cơm Điện"
            formControlName="name">
          <p *ngIf="formSearchList.controls.name.errors?.pattern && formSearchList.controls.name.touched"
            class="text-danger font-weight-bold">
            Tên sản phẩm không được chứa kí tự đặc biệt !!</p>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Loại sản phẩm</label>
          <select class="custom-select" id="productType" formControlName="category">
            <option selected disabled value="">Chọn...</option>
            <option value="">Tất cả</option>
            <option value="Điện tử">Điện tử</option>
            <option value="Công nghệ">Công nghệ</option>
            <option value="Điện thoại">Điện thoại</option>
            <option value="Thời trang">Thời trang</option>
            <option value="Làm đẹp">Làm đẹp</option>
            <option value="Gia dụng">Gia dụng</option>
            <option value="Phương tiện">Phương tiện</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Người đăng</label>
          <input id="fullName" class="form-control" type="text" placeholder="Vd: Nguyễn Văn A" formControlName="owner">
          <p *ngIf="formSearchList.controls.owner.errors?.pattern && formSearchList.controls.owner.touched"
            class="text-danger font-weight-bold">
            Tên người đăng không được chứa kí tự đặc biệt và số !!</p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Giá</label>
          <select id="price" class="custom-select" formControlName="price">
            <option selected disabled value="">Chọn...</option>
            <option value="">Tất cả</option>
            <option value="0">Từ 0 đến 100.000 VND</option>
            <option value="1">Từ 100.000 đến 500.000 VND</option>
            <option value="2">Từ 500.000 đến 1.000.000 VND</option>
            <option value="3">Từ 1.000.000 đến 5.000.000 VND</option>
            <option value="4">Trên 5.000.000 VND</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label class="col-form-label mr-2">Tình trạng</label>
          <select id="AuctionStatus" class="custom-select" formControlName="status">
            <option selected disabled value="">Chọn...</option>
            <option value="">Tất cả</option>
            <option value="Chưa đấu giá">Chưa đấu giá</option>
            <option value="Đang đấu giá">Đang đấu giá</option>
            <option value="Đấu giá thành công">Đấu giá thành công</option>
            <option value="Đấu giá thất bại">Đấu giá thất bại</option>
          </select>
        </div>
        <div class="col-md-4 form-group" style="margin-top: -2px;">
          <label>&nbsp;</label><br>
          <button (click)="search()" type="button" class="btn btn-primary mt-2" style="width: 360px"><i
              class="fas fa-search"></i> Lọc
            kết quả
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="row d-flex justify-content-left">
    <button class="btn btn-success "><i class="fas fa-plus-square"></i> Thêm sản phẩm</button>
  </div>
  <div class="row justify-content-center mt-3">
    <table class="table mt-2 table-striped">
      <thead style="background-color: #189EFF; color: white;">
        <tr>
          <th>STT</th>
          <th>Chọn</th>
          <th>ID sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Chủng loại</th>
          <th>Người đăng</th>
          <th>Giá ban đầu</th>
          <th>Trạng thái duyệt</th>
          <th>Tình trạng</th>
          <th>Hình ảnh</th>
          <th>Sửa</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of productList | async | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements}; index as i">
          <td>{{stt[i]}}</td>
          <td><input type="checkbox" class="checkthis" value={{product.id}} /></td>
          <td>{{product.id}}</td>
          <td><a [routerLink]="['/admin/approvement/', product.id]" >{{product.name}}</a></td>
          <td>{{product.category}}</td>
          <td>{{product.owner}}</td>
          <td>{{product.initialPrice}}</td>
          <td [class]="getColor(product.approvementStatus)">{{product.approvementStatus | titlecase}}</td>
          <td>{{product.auctionStatus}}</td>
          <td><img src="{{product.productImages}}" style="width: 150px" alt="img"></td>
          <td>
            <button class="btn btn-primary">Sửa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row d-flex justify-content-between mt-3">
    <div>
      <button class="btn btn-danger mr-3" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt"></i> Xóa</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa sản phẩm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span class="text-danger font-weight-bold">Bạn có chắc chắn muốn xóa ?</span> <br> Lưu ý: Thao tác không thể hoàn tác !!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
              <button (click)="deleteProducts()" type="button" class="btn btn-danger" id="check">Xóa</button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success mr-3"><i class="fas fa-plus-square"></i> Thêm</button>
      <button class="btn btn-primary"><i class="fas fa-save"></i> Lưu chỉnh sửa</button>
    </div>
    <div>
      <div class="mt-3 d-flex justify-content-end">
        <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
