<div class="row">
    <div class="nav nav-tabs" role="tablist" style="display: block;">
        <h1 class="active" style="text-align: center;"><strong>Quản Lý Thành Viên</strong> </h1>
    </div>

    <form class="px-0" [formGroup]="createForm" (ngSubmit)="search()">
        <div class="row mt-3">
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">ID</label>
                <input class="form-control" type="text" placeholder="VD: 1" id="id" formControlName="id">
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">Địa Chỉ</label>
                <select class="custom-select" id="address" formControlName="address">
                    <option selected disabled value="">Chọn...</option>
                    <option value="volvo" *ngFor="let user of user">{{user.address}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">Tên Thành Viên</label>
                <input class="form-control" type="text" placeholder="VD: Tùng" id="fullName" formControlName="fullName">
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">Email</label>
                <input class="form-control" type="text" placeholder="VD: bighero6ts@gmail.com" id="email"
                    formControlName="email">
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">Xếp Hạng</label>
                <select class="custom-select" id="rate" formControlName="rate">
                    <option selected disabled value="">Chọn...</option>
                    <option value="kim cương">Kim Cương</option>
                    <option value="bạch kim">Bạch Kim</option>
                    <option value="vàng">Vàng</option>
                    <option value="bạc">Bạc</option>
                    <option value="đồng">Đồng</option>
                </select>
            </div>
            <div class="col-md-4 form-group" style="margin-top: -2px;">
                <label>&nbsp;</label><br>
                <button type="submit" class="btn btn-primary mt-2" style="width: 300px"><i class="fas fa-search"></i>
                    Lọc
                    kết quả
                </button>
            </div>
        </div>
    </form>
    <div class="show">
        <button class="btn btn-success special" style="margin: 0px;" onclick="showAdd()"><i
                class="fas fa-plus-square"></i></button>
        <table class="table table-striped" style="text-align: center; ">
            <thead style="background-color: #189EFF; color: white;">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Thành Viên</th>
                    <th scope="col">Địa Chỉ</th>
                    <th scope="col">Xếp Hạng</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số Điện Thoại</th>
                    <th scope="col">Lần Đăng Nhập Cuối</th>
                    <th scope="col">Điểm Cống Hiến</th>
                    <th scope="col">Chọn</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let user of userList$  | async | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements}; index as i">
                    <th scope="row">{{stt[i]}}</th>
                    <td>{{user.id}}</td>
                    <td><a href="">{{user.fullname}}</a> </td>
                    <td>{{user.address}}</td>
                    <td>{{user.rate}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.lastLogin}}</td>
                    <td>{{user.point}}</td>
                    <td>
                        <input type='checkbox' />
                    </td>
                    <td><button class="btn btn-primary"><i class="fas fa-tools"></i> Sửa</button></td>
                    <td><button class="btn btn-danger"><i class="far fa-trash-alt"></i> Xóa</button></td>
                </tr>

                <tr class="form-group" [formGroup]="addForm"
                    *ngFor="let userAdd of addForm.get('rows')?.controls;let index = index;">
                  <td class="form-group">
<!--                    <input class="form-control" disabled style="width: 10px">-->
                  </td>
                  <td class="form-group">
<!--                    <input class="form-control" style="width: 10px" disabled [formControl]="userAdd.get('id')">-->
                  </td>
                  <td class="form-group">
                    <input class="form-control" style="width: 100px" [formControl]="userAdd.get('fullName')">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="userAdd.get('fullName').invalid && userAdd.get('fullName').touched">
                      Tên thành viên không để trống
                    </div>
                  </td>
                  <td class="form-group">
                    <input class="form-control" style="width: 100px"[formControl]="userAdd.get('address')">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="userAdd.get('address').invalid && userAdd.get('address').touched">
                      Địa chỉ không để trống
                    </div>
                  </td>
                  <td class="form-group">
                    <select class="form-control" style="width: 100px"[formControl]="userAdd.get('rate')">
                      <option value="kim cương">kim cương</option>
                      <option value="bạch kim">bạch kim</option>
                      <option value="vàng">vàng</option>
                      <option value="đồng">đồng</option>
                    </select>
                    <div class="alert alert-danger" role="alert"
                         *ngIf="userAdd.get('rate').invalid && userAdd.get('rate').touched">
                      Xếp hạng không được để trống
                    </div>
                  </td>
                  <td class="form-group">
                    <input class="form-control" style="width: 150px"[formControl]="userAdd.get('email')">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="userAdd.get('email').invalid && userAdd.get('email').touched">
                      Hãy nhập email đúng định dạng abc@cde.xyx
                    </div>
                  </td>
                  <td class="form-group">
                    <input class="form-control" style="width: 100px"[formControl]="userAdd.get('phoneNumber')">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="userAdd.get('phoneNumber').invalid && userAdd.get('phoneNumber').touched">
                      Số điện thoại bắt buộc là số
                    </div>
                  </td>
                  <td class="form-group">
<!--                    <input class="form-control" style="width: 100px" disabled [formControl]="userAdd.get('lastLogin')">-->
                  </td>
                  <td class="form-group">
                    <input class="form-control" style="width: 50px" disabled [formControl]="userAdd.get('point')">
                  </td>
                  <td>
                    <input type='checkbox'/>
                  </td>
                  <td class="form-group">
                    <button class="btn btn-primary" [disabled] = "addForm.invalid" (click)="createUser(index)"><i class="fas fa-tools"></i> Lưu</button>
                  </td>
                  <td class="form-group">
                    <button class="btn btn-danger" (click)="onRemoveRow(index)"><i class="far fa-trash-alt"></i> Hủy
                    </button>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="action">
        <button type="button" class="btn btn-danger special" data-toggle="modal" id="myBtn" style="margin-left: 0px;"><i
                class="far fa-trash-alt"></i> Xóa Nhiều
        </button>
        <button class="btn btn-primary special" data-toggle="modal" onclick="confirm_lock();"><i
                class="fas fa-lock"></i>
            Khóa</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary special" data-toggle="modal" onclick="confirm_unlock();"
            id="myBtn"><i class="fa fa-unlock"></i> Mở Khóa
        </button>
        <button class="btn btn-success special" (click)="showAdd()">Thêm Mới</button>
    </div>
    <div class="page">
        <div class="mt-3 d-flex justify-content-end">
            <pagination-controls (pageChange)="reloadData($event)"></pagination-controls>
        </div>

    </div>
</div>
