<h4 style="text-align: center;color: deepskyblue">Chỉnh sửa chương trình khuyến mãi</h4>
<div style="width: 100%">
  <form (ngSubmit)="onSubmit()" [formGroup]="formEditPromotion">

    <div class="form-group row" style="margin-left: 40px;margin-top: 14px;height: 72px">
      <div class="col-md-4">
        <label class="mdb-main-label" style="border: 0">Chọn sản phẩm<span class="text-danger">*</span>
          <select formControlName="idProduct" class="form-control" id="idProduct" required style="width: 290px"
                  name="idProduct">
            <option style="text-align: right;color: black" *ngFor="let product of products"
                    value="{{product.id}}">{{product.name}}</option>
          </select>
        </label>
        <i class="material-icons" style="color: greenyellow;float: right;margin-top: 26px"
           *ngIf="(!formEditPromotion.controls.idProduct.errors?.required)&&formEditPromotion.controls.idProduct.valid && formEditPromotion.controls.idProduct.touched">&#xE876;</i>
        <p class=" text-danger" style="margin-top: -2px"
           *ngIf="formEditPromotion.controls.idProduct.errors?.required && formEditPromotion.controls.idProduct.touched">
          Vui lòng chọn sản phẩm
        </p>
      </div>
    </div>

    <div class="form-group row" style="margin-left: 40px">
      <div class="col-md-3 mb-0 ">
        <label>Ngày bắt đầu
        </label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate" name="startDate">
        <!--                <mat-form-field>-->
        <!--                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" class="form-control" id="startDate" formControlName="startDate" name="startDate">-->
        <!--                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
        <!--                  <mat-datepicker #picker></mat-datepicker>-->
        <!--                </mat-form-field>-->
      </div>

      <div class="col-md-3" style="margin-left: 130px">
        <label>Ngày kết thúc
        </label>
        <input type="date" class="form-control" id="endDate" formControlName="endDate"
               name="endDate">
      </div>
    </div>

    <div class="form-group row" style="margin-left: 38px;height: 72px;margin-top: 22px">
      <div class="col-md-4">
        <label>Giá</label><span class="text-danger">*</span>
        <div class="input-group" style="width:90%">
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="price" required
                 formControlName="price"
                 name="price" placeholder="số tiền">
          <div class="input-group-append">
            <span class="input-group-text" style="font-size: 10px;background:#e9ecef">VND</span>
          </div>
        </div>
        <i class="material-icons" style="color: greenyellow;float: right;margin-top: -26px"
           *ngIf="(!formEditPromotion.controls.price.errors?.required)&&formEditPromotion.controls.price.valid && formEditPromotion.controls.price.touched">&#xE876;</i>
        <p class=" text-danger"
           *ngIf="formEditPromotion.controls.price.errors?.required && formEditPromotion.controls.price.touched">Vui
          lòng nhập giá sản phẩm
        <p class=" text-danger"
           *ngIf="formEditPromotion.controls.price.errors?.isPrototypeOf() && formEditPromotion.controls.price.touched">
          Giá sản phẩm không hợp lệ
      </div>

      <div class="col-md-4" style="margin-left: 45px">
        <label>khuyến mãi</label><span class="text-danger">*</span>
        <div class="input-group" style="width:90%">
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="percent" required
                 formControlName="percent"
                 name="percent" placeholder="phần trăm khuyến mãi">
          <div class="input-group-append">
            <span class="input-group-text" style="font-size: 10px;background:#e9ecef">%</span>
          </div>
        </div>
        <i class="material-icons" style="color: greenyellow;float: right;margin-top: -26px"
           *ngIf="(!formEditPromotion.controls.percent.errors?.required)&&formEditPromotion.controls.percent.valid && formEditPromotion.controls.percent.touched">&#xE876;</i>
        <p class=" text-danger"
           *ngIf="formEditPromotion.controls.percent.errors?.required && formEditPromotion.controls.percent.touched">Vui
          lòng nhập phần trăm khuyến mãi
        <p class=" text-danger"
           *ngIf="formEditPromotion.controls.percent.errors?.percentInvalid && formEditPromotion.controls.percent.touched">
          Khuyến mãi không hợp lệ
      </div>
    </div>

    <div class="col-md-8" style="height: 160px;margin-left: 38px;font-size: 14px;margin-top: 20px">
      <label for="content">Nội dung</label>
      <textarea type="text" class="form-control" style="height: 65%" id="content" formControlName="content"
                name="content">
      </textarea>
    </div>

    <input type="button" class="btn btn-danger mt-1" style="margin-left: 20%;height: 40px;width: 130px"
           (click)="gotoList()" value="Hủy">
    <button type="submit" [disabled]="formEditPromotion.invalid" class="btn btn-success mt-1"
            style="margin-left:10%;height: 40px;width: 160px">Lưu thay đổi
    </button>


  </form>
</div>
<script>
  // Material Select Initialization
  $(document).ready(function () {
    $('.mdb-select').materialSelect();
  });
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
