<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img id="logo-brand" src="assets/images/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Hệ thống đấu giá sản phẩm</a>
                </li>
            </ul>
            <ul class="navbar-nav" *ngIf="email">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/user/cart">
                        Giỏ hàng <span class="badge badge-success" *ngIf="cartCount>0">{{cartCount}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/product/myProduct">Đấu giá của tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/auction/myAuction">Mặt hàng của tôi</a>
                </li>
            </ul>
            <div>
                <button class="btn btn-primary my-2 my-sm-0 ml-2" *ngIf="!email" (click)="logIn()">Đăng nhập</button>
                <div class="dropdown " *ngIf="email">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {{email}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item">Xem hồ sơ</button>
                        <button class="dropdown-item">Đổi mật khẩu</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" (click)="logOut()">Đăng xuất</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>