<div class="container-fluid px-0" style="height: 100%; width: 80%;">

    <div class="bg-secondary text-white" style="height: 15%">

        <img src="https://image.baodauthau.vn/720x480/Uploaded/2020/ovhpuht/2020_06_14/toi/02-1_ekyk.png"
             style="width: 130px; height: 100px" class="rounded-circle">

        <style>
            img{
                float: left;
            }
        </style>
        <nav class="navbar navbar-expand-sm d-flex float-right mr-5" style="height: 50%">
            <div class="mx-2">
                <a>Tên sản phẩm: </a>
                <input type="text" placeholder="Search">
            </div>
            <div>
                <a>Danh mục: </a>
            </div>
            <div class="mx-2">
                <select class="form-control">
                    <option>Tất cả danh mục</option>
                    <option>Công nghệ</option>
                    <option>Gia dụng</option>
                    <option>Hot</option>
                </select>
            </div>
            <div>
                <a>Mức giá: </a>
            </div>
            <div class="mx-2">
                <select class="form-control" name="Mức giá">
                    <option>Dưới 100.000</option>
                    <option>100.000-500.000</option>
                    <option>500.000-1.000.000</option>
                    <option>1.000.000-5.000.000</option>
                    <option>Trên 5.000.000</option>
                </select>
            </div>
            <div class="mx-2">
                <button type="button" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </nav>

    </div>

    <div class="d-flex bg-secondary text-white mt-0" style="height: 7%">

        <nav class="navbar navbar-expand-sm" style="height: 50%; font-size: 25px" >
            <!-- Brand/logo -->
            <div class="mx-2">
                <a class="navbar-brand pt-4 mx-4" style="color: white" href="prototypr.html">Đang đấu giá</a>
            </div>
            <div class="mx-2">
                <a class="navbar-brand pt-4 mx-4" style="color: white" href="ketthuc.html">Đã kết thúc</a>
            </div>
            <div class="mx-2">
                <a class="navbar-brand pt-4 mx-4" style="color: white" href="ketqua.html">Kết quả</a>
            </div>
            <div class="mx-2">
                <a class="navbar-brand pt-4 mx-4" style="color: white" href="topdaugia.html">Top đấu giá</a>
            </div>

        </nav>

    </div>

    <div class="d-flex bg-secondary text-white mt-0" style="height: 5%">
        <nav class="navbar navbar-expand-sm" style="height: 50%; font-size: 25px">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link mx-4" style="color: white" href="prototypr.html">Tất cả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-4" style="color: white" href="giadung.html">Gia dụng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-4" style="color: white" href="congnghe.html">Công nghệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-4" style="color: white" href="hot.html">Hot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-4" style="color: white" href="khac.html">Khác</a>
                </li>

            </ul>
        </nav>
    </div>


    <div class="d-flex" style="height: 60%">

        <div class="mx-5 my-5" *ngFor="let auction of auctionList">
            <a href="chitietsanpham.html">
                <img  [src]="auction.product.productImages"
                      height="200" width="200"/>
            </a>
            <div style="font-size: 25px">
                <a class="color-size" href="chitietsanpham.html">Iphone 11 Pro Max</a>
            </div>
            <div>
                <p>Giá hiện tại: 500.000VND</p>
                <div>
                    Thời gian còn lại:
                    <style type="text/css">
                        #clockdiv > div{font-size: 15px; padding: 2px; border-radius:50%;background: darkgrey;display:inline-block}
                    </style>

                <div id="clockdiv">
                    <div>
                        <span class="days"></span>
                    </div>
                    <div>
                        <span class="hours"></span>
                    </div>
                    <div>
                        <span class="minutes"></span>
                    </div>
                    <div>
                        <span class="seconds"></span>
                    </div>
                </div>

                <script type='text/javascript'>
                    //<![CDATA[
                    function getTimeRemaining(endtime) {
                        var t = Date.parse(endtime) - Date.parse(new Date());
                        var seconds = Math.floor((t / 1000) % 60);
                        var minutes = Math.floor((t / 1000 / 60) % 60);
                        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
                        var days = Math.floor(t / (1000 * 60 * 60 * 24));
                        return {
                            'total': t,
                            'days': days,
                            'hours': hours,
                            'minutes': minutes,
                            'seconds': seconds
                        };
                    }

                    function initializeClock(id, endtime) {
                        var clock = document.getElementById(id);
                        var daysSpan = clock.querySelector('.days');
                        var hoursSpan = clock.querySelector('.hours');
                        var minutesSpan = clock.querySelector('.minutes');
                        var secondsSpan = clock.querySelector('.seconds');

                        function updateClock() {
                            var t = getTimeRemaining(endtime);

                            daysSpan.innerHTML = t.days;
                            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                            if (t.total <= 0) {
                                clearInterval(timeinterval);
                            }
                        }

                        updateClock();
                        var timeinterval = setInterval(updateClock, 1000);
                    }
                    var deadline = new Date(Date.parse(new Date()) + 22 * 24 * 60 * 60 * 1000);
                    initializeClock('clockdiv', deadline);
                    //]]>
                </script>
                </div>
                <button type="button" class="btn btn-info"><a href="daugia.html" style="color: white">Đấu giá</a></button>
            </div>
        </div>

    </div>

    <div style="height: 8%; font-size: 25px">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-info mx-2">
                <a href="tuvan.html">Tư vấn</a>
            </button>
            <button type="button" class="btn btn-outline-info mx-2">
                <a href="huongdan.html">Hướng dẫn</a>
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center" style="height: 5%; font-size: 15px">
        <p style="color: red">Hùng Antimatter</p>
    </div>
</div>
