<div class="container">
  <div class="alert alert-info my-3" role="alert" *ngIf="!cartDetails">
    Không có sản phẩm nào trong giỏ hàng.
  </div>
  <div class="row mx-0 my-2" *ngIf="cartDetails.length > 0">
    <div class="col-8">
      <div *ngFor="let item of cartDetails; index as i" class="row mx-0 p-2">
        <div class="col-3 px-2 py-2">
          <img alt="product" class="w-100" src="{{item.auction.product.productImages[0].link}}" srcset="">
        </div>
        <div class="col-5 px-2 py-2">
          <div class="row mx-0">
            {{item.auction.product.name}}
          </div>
          <div style="position: absolute; bottom: 8px; left: 4px;">
            <button (click)="pickDeletedIndex(i)" class="btn btn-link" data-target="#deleteCartItemModal"
              data-toggle="modal" type="button">Xóa
            </button>
          </div>
        </div>
        <div class="col-4 px-0">
          <div class="row mx-0 d-flex justify-content-between">
            <div class="px-2 py-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <button (click)="decreaseQty(i)" [disabled]="item.productQuantity <= 1"
                    class="btn btn-outline-primary" style="min-width: 2em;" type="button">-
                  </button>
                </div>
                <input [value]="item.productQuantity" class="form-control text-center" disabled style="max-width: 3em;"
                  type="text">
                <div class="input-group-append">
                  <button (click)="increaseQty(i)" class="btn btn-outline-primary" style="min-width: 2em;"
                    type="button">+
                  </button>
                </div>
              </div>
            </div>
            <div class="px-2 py-2 font-weight-bold">
              {{item.productWinPrice * item.productQuantity|currency:"VND":'symbol'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row mx-0 d-flex justify-content-between my-2 bg-light border rounded p-3">
        <div>
          Tạm tính:
        </div>
        <div class="text-primary font-weight-bold" id="totalCost">
          {{totalCost|currency:"VND"}}
        </div>
      </div>
      <div>
        <button class="btn form-control btn-success mr-3" type="button" (click)="goToPayment()">Tiến hành đặt
          hàng</button>
      </div>
    </div>
  </div>
  <!-- Modal Delete Cart Item-->
  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="deleteCartItemModal" role="dialog"
    tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger font-weight-bold">Bạn có chắc muốn xóa sản phẩm này khỏi giỏ hàng?
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal" type="button">Hủy</button>
          <button (click)="deleteItem()" class="btn btn-danger" data-dismiss="modal" id="deleteCartItemBtn"
            type="button">Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
