<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h5>chúng tôi đã gửi mã xác nhận đến : "gmail của khách hàng"</h5>
      <h5>vui lòng vào gmail để lấy mã hoặc bấm vào <a target="_blank" href="https://mail.google.com/mail/u/2/?tab=wm#spam">đây</a></h5>
    </div>
    <form>
      <div class="form-group">
        <label for="pwd">mã xác nhận:</label>
        <input type="password" class="form-control" id="pwd">
        <input type="submit" value="xác nhận" (click)="submit()">
      </div>
    </form>
  </div>
</div>
